.sendForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 15px;
    gap: 50px;
}

.textarea {
    resize: none;
    overflow:hidden;

    width: 100%;

    padding: 15px;

    text-align: start;
    align-items: center;

    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    border: none;
}

.button {
    width: 150px;
    height: 45px;

    background: #0066CC;
    border-radius: 20px;
    border: none;
    color: white;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    background: rgba(0, 102, 204, 0.8);
}

.button:active {
    background: rgba(0, 102, 204, 0.57);
}
